@charset "utf-8";

body {
     font-family: Georgia, Arial, Helvetica, sans-serif;
     width: 900px;
     background-color: blanchedalmond;
     font-size: 24px;
}

h2 {
     font-size: 32px;
}

h3 {
     font-size: 26px;
}   }


